
notebooks/.ipynb_checkpoints/fairml_traffic_stops-checkpoint.ipynb
data/raw/fairml_traffic_stops/NC_cleaned.csv
.vscode/settings.json
~$*
*.pyc
/src.egg-info
/lightning_logs
references/.ipynb_checkpoints/optuna_pytorch_lightning_notebook-checkpoint.ipynb
/checkpoints
/.venv
/data/ADNI
notebooks/.ipynb_checkpoints/FairKit_demonstration-checkpoint.ipynb
/data/CheXpert
**/hparams.yaml
*.ckpt
/models/CheXpert/lightning_logs/tmp